* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header{
	width: 100%;
	height: 400px;
	background-image: url(img1-6/mv.jpg);
	background-size: cover;
	background-position: bottom center;
}

.headline{
	padding:20px;
}


main{
	width: 840px;
	margin: 0 auto;
}

.main-visual-content1{
	padding-top:50px;
}

.main-visual-line{
	padding-bottom: 30px;
	border-bottom: 1px solid silver;
}

.main-visual-content2{
padding-top:30px;

}

.main-visual-content3{
padding-top:30px;
}

.main-visual-content4{
padding-top:30px;
}

footer{
	height:50px;
}
